<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    안녕하세요? {{name}}가 {{date}}에 만든 첫 장고 웹 페이지 입니다.
</h1>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8" />-->
<!--<title></title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="time"></div>-->
<!--</body>-->
<!--<script>-->
<!--    var d = new Date();-->
<!--    document.getElementById('time').innerHTML = "<h1>"+'안녕하세요? 강승준이 '+(d.getMonth()+1)+'월 '+d.getDate()+'일에 만든 첫 창고 웹 페이지 입니다.'+"</h1>"-->
<!--</script>-->
<!--</html>-->